@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

:root {

    /* --- FONDOS --- */
    --bg-body: #0a0a0a;
    --bg-panel: #171717;
    --bg-card: rgba(255, 255, 255, 0.03);

    /* --- COLORES DE ACCENTO --- */
    --accent: #dc2626;
    --accent-hover: #ef4444;
    --accent-dim: rgba(220, 38, 38, 0.15);

    /* --- TEXTOS --- */
    --text-main: #ffffff;
    --text-muted: #a3a3a3;

    /* --- FUENTES --- */
    --font-display: 'Syne', sans-serif;
    --font-body: 'Manrope', sans-serif;

    /* --- UTILIDADES VISUALES --- */
    --radius: 24px;
    --glass: blur(20px);
    --ease-out: cubic-bezier(0.16, 1, 0.3, 1);
}

body {
    background-color: var(--bg-body);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);

    ul {
        display: flex;
        gap: 35px;
    }

}

.nav-link {
    font-size: 1.1rem;
    font-family: var(--font-body);
    color: var(--text-main);
    font-weight: 500;
    position: relative;
    padding: 5px 0;
    letter-spacing: -0.02em;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent);
    transition: width 0.3s var(--ease-out);
    box-shadow: 0 0 8px var(--accent);
}

.nav-link:hover {
    color: white;
}

.nav-link:hover::after {
    width: 100%;
}

.brand-name {
    font-family: var(--font-display);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: -1px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.navbar-button:hover {
    background-color: var(--text-main);
    color: var(--bg-body);
}

.navbar-buttons-container {
    display: flex;
    gap: 15px;
}
